@font-face {
  font-family: "Font";
  src: url(./Asset/Montserrat-Bold.ttf);
}

* {
  font-family: "Font";
  overflow: hidden;
}

body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./Asset/bg.jpg") no-repeat center center/cover;
  filter: blur(2px);
  z-index: -1;
}

.logo {
  width: 500px;
  height: 500px;
  background: url("./Asset/logonobg.png") no-repeat center center/cover;
}

.logo-game {
  width: 300px;
  height: 300px;
  background: url("./Asset/logonobg.png") no-repeat center center/cover;
  translate: 30%;
}

.logo-over {
  width: 500px;
  height: 500px;
  background: url("./Asset/logonobg.png") no-repeat center center/cover;
  translate: 15%;
}

.start-button {
  background-color: #8d0000;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  translate: 75%;
  text-align: center;
  align-items: center;
}

.start-button:hover {
  background-color: #f0f0f0;
  color: #8d0000;
}

.game-box {
  text-align: center;
}

.word-display {
  margin: 20px; /* Jarak kiri dan kanan */
  font-size: 24px; /* Ukuran font */
  list-style-type: none; /* Menghilangkan bullet points */
  padding: 0; /* Menghilangkan padding default */
  display: flex; /* Menampilkan horizontal */
  justify-content: center; /* Memusatkan konten */
}

.word-display li {
  margin: 0 10px; /* Memberikan jarak antar huruf */
}

.hint-text,
.guesses-text {
  font-size: 1.5rem;
}

.keyboard {
  display: flex;
  flex-direction: column; /* Membuat keyboard dalam kolom */
  align-items: center;
}

.keyboard-row {
  display: flex;
  gap: 5px; /* Jarak antar tombol keyboard */
}

.keyboard button {
  background: #8d0000;
  color: #f0f0f0;
  padding: 10px; /* Ukuran tombol keyboard */
  width: 40px; /* Lebar tombol keyboard */
  margin-bottom: 5px;
  cursor: pointer;
}

.keyboard button:hover {
  background: #f0f0f0;
  color: #8d0000;
}

.keyboard button[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

.notification {
  margin-top: 20px;
  color: #f00; /* Warna merah untuk pesan */
  font-weight: bold;
  text-align: center;
}

.refresh-button {
  margin-top: 10px; /* Jarak tombol refresh */
  margin-bottom: 30px;
  padding: 10px;
  background: #8d0000;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.5rem;
}

.refresh-button:hover {
  background: #f0f0f0;
  color: #8d0000;
}

#game-over-screen {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f0f0f0;
  padding: 10px; /* Padding around game over screen */
  width: 600px; /* Width of the game over screen */
  text-align: center;
  translate: 90% -10%;
}

.scores {
  margin-bottom: 100px;
}

#final-score {
  font-size: 24px;
  margin-bottom: 50px;
}

#restart-btn {
  background: #8d0000;
  color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 50px;
}

#restart-btn:hover {
  background: #f0f0f0;
  color: #8d0000;
}

@media screen and (max-width: 450px) {
  * {
    overflow: hidden;
  }

  .logo {
    width: 400px;
    height: 400px;
  }

  .start-button {
    font-size: 1.5rem;
    translate: 50%;
  }

  .hint-text {
    font-size: 1.1rem;
  }

  .refresh-button {
    font-size: 1.2rem;
  }

  .keyboard {
    scale: 0.92;
    margin-bottom: 20px;
  }

  .notification {
    font-size: 1rem;
  }

  #game-over-screen {
    width: 420px;
    translate: -10%;
    margin-bottom: 50px;
  }

  .logo-over {
    width: 400px;
    height: 400px;
    translate: 10%;
  }

  #final-score {
    font-size: 20px;
  }

  .scores {
    translate: 10%;
  }

  #restart-btn {
    font-size: 1.2rem;
    translate: 30%;
  }
}
